<section>
  <div
    class="block my-5 p-6 bg-purple-600 border border-gray-200 rounded-lg shadow text-center"
  >
    <h5 class="mb-2 text-2xl font-bold text-white tracking-tigh">
      {{ dados?.title }}
    </h5>
  </div>
  <div class="columns-3">
    <div *ngFor="let item of dados?.options; let i;">
      <div
        class="block w-50 p-6 text-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        (click)="enviaResposta(item)"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ item?.title }}
        </h5>
      </div>
    </div>
  </div>
</section>
